{% extends "homepage/base.html" %}

{% load static %}

{% block content %}
<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                            <h2>Bạn muốn dùng vàng ?</h2>
                            <p>Bài viết <span>- 29/08/2020</span></p>
                        </div>
                        <div class="blog-large-pic">
                            <img src="{% static 'homepage/img/banner/thocung-daidien.png'%}" alt="">
                        </div>
                        <div class="blog-detail-desc">
                            <p>Vàng là tinh túy quý hiếm, được thiên nhiên ban tặng cho loài người. 
                            Chúng ta đã thấy những nơi tôn nghiêm nhất , thì cái tôn nghiêm nhất được làm bằng vàng, bạc, đá quý.
                            </p>
                        </div>
                      
                        <p>Ví dụ: Ngai vàng của Vua, Tượng Phật dát vàng, chén Thánh mạ vàng, Bài vị thờ bằng vàng bạc,…</p>
                        <p>Tranh vàng luôn mang một giá trị đỉnh cao về vật chất và tâm linh.</p>
                        <p>Bài vị thờ  bằng vàng là dành cái cao quý thiêng liêng nhất đến bề trên.</p>
                        <p></p>
                        <div class="blog-quote">
                            <p>Vật phẩm phong thủy bằng vàng là loại có sinh khí mạnh mẽ nhất và bạn cũng biết chỉ vàng bạc thật mới làm nên điều đó</p>
                        </div>
                        <div class="blog-detail-title">
                            <p>khanhvanghuytien.vn</p>
                        </div>
                   </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
{% endblock %}