{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<!-- Contact Section Begin -->
<section class="contact-section spad" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Liên hệ với chúng tôi</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, maki years old.</p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Địa chỉ:</span>
                            <p>280 An Dương Vương, Phường 4, Quận 5, TP. Hồ Chí Minh</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Phone:</span>
                            <p> 0902 68 33 96</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>vannt@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Để lại lời nhắn</h4>
                        <p>Chúng tôi sẽ liên hệ với bạn trong 24 giờ.</p>
                        <form action="#" class="comment-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" placeholder="Your name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="email" placeholder="Your email" >
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" placeholder="Your message"></textarea>
                                    <input type="submit" value="send message"> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Section Begin -->
<div class="map spad">
    <div class="container">
        <div class="map-inner">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6813671332884!2d106.67365841406806!3d10.759021692333324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee2a1670b95%3A0x4a50b46fa28b1773!2zQ-G7rWEgaMOgbmcgSHV5IFRp4bq_bg!5e0!3m2!1svi!2s!4v1595928627049!5m2!1svi!2s"
                height="450" style="border:2px" allowfullscreen="">
            </iframe>
            
        </div>
    </div>
</div>
<!-- Map Section Begin -->



{% endblock %}