{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Mật khẩu của bạn đã thay đổi thành công</h2>
                    <div class="login-form">
                        <a href="{% url 'homepage:login' %}" class="forget-pass">Login</a>
                    </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}