{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 products-sidebar-filter">
                   
                    <form autocomplete="on" action="">
                    <div class="advanced-search filter-widget">
                        <h4 class="fw-title inner-header font-weight-bold m-0" style="color: crimson;">Tìm kiếm sản phẩm</h4>
                        <p></p>
                        <div class="filter-catagories input-group-prepend">
                            <input type="text" placeholder="Nhập từ khóa" name="search" id="search">
                            <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <script>
                        $( function() {
                          /*
                            var availableTags = [
                                {% for product in products %}
                                    "{{product.productname}}",
                                {% endfor %}
                            ];
                          */
                            var availableTags = [
                                "Đầm Thêu",
                                "Giày cao gót",
                                "Bông tai ngọc trai",
                                "Ngọc Trai",
                            ];
                            $( "#search" ).autocomplete({
                                source: availableTags
                            });
                        } );
                        </script>

                    </form>
                    <div><p></p></div>
                    <div class="filter-widget">
                        <h4 class="fw-title inner-header font-weight-bold m-0" style="color: crimson;">Danh Mục Sản Phẩm</h4>
                        <div class="filter-catagories list-group list-group-flush">
                            <div class="row m-0">
                                <div class="col-">
                                    <a><i class="fa fa-caret-down pt-2" aria-hidden="true"></i></a>
                                </div> 
                                <div class="col">
                                    <a class="list-group-item list-group-item-action pl-0" href="{% url 'homepage:product' %}">All</a>
                                </div>
                            </div> 
                            {% for type in productcategory_list %}
                                    <div class="row m-0">
                                        <div class="col-">
                                            <a><i class="fa fa-caret-down pt-2" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="col">
                                            <a class="list-group-item list-group-item-action pl-0" href="{% url 'homepage:productcategory' type.productcategoryid %}">
                                                {{type.productcategoryname}}
                                            </a>  
                                        </div>
                                    </div>  
                                    
                                    {% if type.productcategoryid == categoryid %}
                                        {% for p in productcategory %}    
                                        <div class="row m-0">
                                            <div class="col-">
                                            </div>
                                            <div class="col ml-2">
                                                <a class="list-group-item list-group-item-action pl-0" href="{% url 'homepage:productcategory' p.productcategoryid %}">
                                                    {{p.productcategoryname}}
                                                </a> 
                                            </div>
                                        </div>  
                                        <!--                                        
                                            {% if p.parentcategoryid == type.productcategoryid%}
                                                {{p.parentcategoryid}}
                                            {% endif %} 
                                        -->    
                                        {% endfor %}
                                    {% endif %}            
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            {% if page_obj %}
                            {% for product in page_obj %}
                            <div class="col-lg-4 col-sm-4">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="{{product.productimage.url}}">
                                        <div class="sale pp-sale"></div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="{{product.productimage.url}}">+ Quick View</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{product.productcategoryid}}</div>
                                        <a href="{% url 'homepage:productdetail' product.productid %}">
                                            <h5>{{product.productname}}</h5>
                                        </a>
                                        <div class="product-price">
                                            {% if product.price %}
                                                {{product.price}}
                                            {% else %}
                                                Liên Hệ
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>                              
                            {% endfor %}
                            {% else %}                            
                                <p>No products found in {% if category %}{{category}}{% else %}all{% endif %}.
                                    <a href="{% url 'homepage:product' %}">Wanna see all products?</a> 
                                </p>                                
                            {% endif %}
                       </div>
                    </div>
                </div>
            </div>
        </div>

        {% if page_obj %}
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-info" href="?page=1" role="button">Trang Đầu</a>               
                    <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}" role="button"> Trang Trước </a>
                {% endif %}
                <span class="btn btn-outline-danger" class="current">
                    Trang {{ page_obj.number }} của {{ page_obj.paginator.num_pages }}
                </span>
        
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}" role="button"> Trang Kế </a>
                    <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}" role="button"> Trang Cuối  &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </section>
    <!-- Product Shop Section End -->

{% endblock %}