{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'homepage/img/logo.png' %}">
    <title></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css'  %}">
    <link rel="stylesheet" href="{% static 'homepage/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/elegant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>     
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>      
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>  
    
</head>

<body>
  
    <!-- Header Section Begin -->
    <header class="header-section" style=" background-color: #c7b198;">
        <div class="header-top" style=" background-color: #fff;">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        
                    </div>
                </div>
                <div class="ht-right">
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-1 col-md-1">
                    
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="{% url 'index' %}" >
                                <img src="{% static '/homepage/img/logo.png' alt='' %}">
                            </a>
                        </div>
                    </div>
                   <div class="header-bottom-right">
         <div class="search">
				<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="submit" value="Subscribe" id="submit" name="submit">
				<div id="response"> </div>
		 </div>
	  <div class="tag-list">
	    <ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c1" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>Mã Khuyến Mãi</h3><a href=""></a></li>
					<li><p>Không có mã khuyến mãi  <a href="">Săn mã khuyến mãi ngay bây giờ</a></p></li>
				</ul>
			</li>
		</ul>
		<ul class="icon1 sub-icon1 profile_img">
			<li><a class="active-icon c2" href="#"> </a>
				<ul class="sub-icon1 list">
					<li><h3>Giỏ hàng</h3><a href=""></a></li>
					<li><p>Giỏ hàng của bạn hiện đang trống  <a href="">Mua hàng ngay bây giờ</a></p></li>
				</ul>
			</li>
		</ul>

	  </div>
    </div>
                    <div class="col-lg-2 text-right col-md-2">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <span></span>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span></span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p></p>
                                                            <h6></h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p></p>
                                                            <h6></h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span></span>
                                        <h5></h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">Xem Giỏ Hàng</a>
                                        <a href="#" class="primary-btn checkout-btn">Thanh Toán</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cart-price"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Danh mục</span>
                        <ul class="depart-hover">
                       <li class="active grid">

				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Quần Áo</h4>
								<ul>
									<li><a href="product.html">Quần</a></li>
									<li><a href="product.html">Áo</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Giầy Dép</h4>
								<ul>
									<li><a href="product.html">Giày</a></li>
									<li><a href="product.html">Dép</li>

								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Trang Sức</h4>
								<ul>
									<li><a href="product.html">Nhẫn</a></li>
									<li><a href="product.html">Vòng tay</a></li>
									<li><a href="product.html">Dây chuyển</a></li>
									<li><a href="product.html">COMBO</a></li>
								</ul>
							</div>
						</div>
					  </div>
					</div>
				</li>

                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Trang chủ</a></li>
                        
                        <li><a href="{% url 'homepage:product'%}">Sản Phẩm</a>
                            <!-- <ul class="dropdown">
                                <li><a href="#">Quà Tặng</a></li>
                                <li><a href="#">Nội Thất Phong Thuỷ</a></li>
                                <li><a href="#">Thờ Cúng</a></li>
                            </ul> -->
                        </li>
                        <li><a href="{% url 'homepage:premium' %}">Quà tặng cao cấp</a></li>
                        <li><a href="{% url 'homepage:about' %}">Về Chúng Tôi</a></li>
                        <li><a href="{% url 'homepage:blog' %}">Tin tức</a></li>
                        <li><a href="{% url 'homepage:contact' %}">Liên hệ</a></li>
                                                
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    {% block content %}{% endblock %} 

    <section class="hero-section">
      
    <div class="hero-items owl-carousel">
        <div id="slider">

            <figure>
                {% for slide in slides %}
                <img src="media/{{slide.image}}" alt>
                {% endfor %}
            </figure>

        </div>
    </div>
    
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="{% static '/homepage/img/aothunnam1.jpg'%}">
                    <div class="inner-text">
                        <h4>Quần Áo</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="{% static '/homepage/img/giay.jpg'%}" alt="">
                    <div class="inner-text">
                        <h4>Giày Dép</h4>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="{% static '/homepage/img/trangsuc.jpg'%}" alt="">
                    <div class="inner-text">
                        <h4>Trang Sức</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Quà Tặng Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{% static '/homepage/img/aothunnam1.jpg'%}">
                   
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
               <div class="product-slider owl-carousel">
                    {% for product in products %} 
                        {% if product.productcategoryid.productcategoryname == 'Quần Áo' %} 
                        <div class="product-item">
                        <div class="pi-pic">
                                <img src="media\{{product.productimage}}" alt="">
                                
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="zoom"><a href="media\{{product.productimage}}">+ Quick View</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{product.productcategoryid}}</div>
                                <a href="#">
                                    <h5>{{product.productname}}</h5>
                                </a>
                                <div class="product-price">
                                    Liên Hệ
                            </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
               </div>
            </div>
        </div>
    </div>
</section>
<!-- Quà Tặng Banner Section End -->


<!-- Nội Thất Phong Thủy Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-slider owl-carousel">
                    {% for product in products %}
                        {% if product.productcategoryid.productcategoryname == 'Giày Dép' %}
                        <div class="product-item">
                            
                            <div class="pi-pic">
                                <img src="media\{{product.productimage}}" alt="">
                            <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="media\{{product.productimage}}">+ Quick View</a></li>
                            </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{product.productcategoryid}}</div>
                                <a href="#">
                                    <h5>{{product.productname}}</h5>
                                </a>
                                <div class="product-price">
                                    Liên Hệ
                            </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{% static '/homepage/img/giay.jpg'%}">
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Nội Thất Phong Thủy Banner Section End -->


<!--Thờ cúng Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{% static '/homepage/img/trangsuc.jpg'%}">
                    
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
               <div class="product-slider owl-carousel">
                    {% for product in products %}
                        {% if product.productcategoryid.productcategoryname == 'Trang Sức' %}   
                        <div class="product-item">
                        <div class="pi-pic">
                                <img src="media\{{product.productimage}}" alt="">
                                
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="media\{{product.productimage}}">+ Quick View</a></li>
                                    
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{product.productcategoryid}}</div>
                                <a href="#">
                                    <h5>{{product.productname}}</h5>
                                </a>
                                <div class="product-price">
                                    Liên Hệ
                            </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}

                    {% endfor %}
               </div>
            </div>
        </div>
    </div>
</section>
<!-- Thờ cúng Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="{% static '/homepage/img/nen7.jpg' alt='' %}">
    <div class="container">
        <div class="col-lg-6 text-center">
            <!-- <div class="section-title">
                <h2>Deal Of The Week</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                    consectetur adipisicing elit </p>
                <div class="product-price">
                    $35.00
                    <span>/ HanBag</span>
                </div>
            </div> -->
            <div class="countdown-timer" id="countdown">
                <div class="cd-item">
                    <span>56</span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span>12</span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span>40</span>
                    <p>Mins</p>
                </div>
                <div class="cd-item">
                    <span>52</span>
                    <p>Secs</p>
                </div>
            </div>
            <a href="{% url 'homepage:product' %}" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>

    <div class="benefit-items">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-benefit">
                    <div class="sb-icon">
                        <img src="{% static 'homepage/icon/feature_icon_2.svg' %}" >
                    </div>
                    <div class="sb-text">
                        <h6>Đặt hàng Online</h6>
                        <p>Hỗ trợ nhanh chóng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-benefit">
                    <div class="sb-icon">
                        <img src="{% static 'homepage/icon/feature_icon_3.svg' %}">
                    </div>
                    <div class="sb-text">
                        <h6>Miễn phí vận chuyển</h6>
                        <p>Cho đơn hàng nội thành</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-benefit">
                    <div class="sb-icon">
                        <img src="{% static 'homepage/icon/feature_icon_4.svg' %}" alt="">
                    </div>
                    <div class="sb-text">
                        <h6>Đảm bảo chất lượng</h6>
                        <p>100% Vàng Bạc Thật</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-left">
                        <div class="footer-logo" >
                            <a href="{% url 'index' %}" style="color:#e7ab3c; font-size: 22px; font-weight: 700;">KHÁNH VÀNG HUY TIẾN</a>
                            <img src="{% static 'homepage/img/logo.png' alt='' %}" >
                        </div>
                        <ul>
                            <li>Địa chỉ:  </li>
                            <li>Điện thoại: </li>
                            <li>Email: </li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Thông tin</h5>
                        <ul>
                            <li><a href="{% url 'homepage:about' %}">Về chúng tôi</a></li>
                            <li><a href="#">Giỏ Hàng</a></li>
                            <li><a href="{% url 'homepage:contact' %}">Liên Hệ</a></li>
                               </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Đăng ký để nhận thông tin mới</h5>
                        <p>Nhận thông báo qua email những tin tức mới về Cửa hàng.</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">                           
Copyright &copy;<script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i> by <a target="_blank">khanhvanghuytien.vn</a>
                        </div>
                        <div class="payment-pic">
                            <img src="homepage/static/img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
</body>

</html>