{% extends "homepage/base.html" %}

{% load static %}

{% block content %}

<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Quên mật khẩu</h2>
                   
                    <form action='' method="POST">
                        {% csrf_token %}
                        <div class="group-input">
                            {{ form}}
                        </div>
                        <button type="submit" class="site-btn login-btn">submit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}